.vault-row-content {
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
  }
  
  .vault-info {
    flex: 1;
  }

  .vault-title {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
  }
  
  .vault-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
  }
  
  .vault-details span {
    color: #00ff7f;
    letter-spacing: 0;
    word-spacing: 0;
  }