.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #1b1b32;
    padding: 20px;
    border-radius: 8px;
    color: #f5f5f5;
    width: 500px;
    text-align: center;
  }
  
  .close-button {
    background-color: #ff5c5c;
    color: #1b1b32;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .close-button:hover {
    background-color: #ff3333;
  }
  
  .modal button {
    background-color: #00ff7f;
    color: #1b1b32;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .modal button:hover {
    background-color: #00e673;
  }