.portfolio {
    padding: 20px;
    text-align: center;
    color: #f5f5f5;
  }
  
  .chart-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .chart-container {
    flex: 1 1 45%; /* Adjust the width of each chart container */
    margin: 10px;
    background-color: #1b1b32;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .chart-container canvas {
    width: 100% !important;
    height: 300px; /* Adjust the height of the charts */
  }