/* .vault-type-card {
    background-color: #2b2b4f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #f5f5f5;
  } */
  .vault-type-card {
    background-color: #2b2b4f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s;
    height: 100%; /* Ensure the card takes up the full height of its container */
    font-size: 0.6em;
  }
  
  .vault-type-title {
    padding-top: 10px;
    color: #00ff7f;
    font-size: small;
    word-spacing: 0;
    letter-spacing: 0;
  }

/* 
  .vault-type-card p {
    font-size: small;
  } */

  /* TODO: delete the increasing behavior when selected */
  
  .vault-type-card button {
    background-color: #00ff7f;
    color: #1b1b32;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
  }
  
  .vault-type-card button:hover {
    background-color: #00e673;
  }