body {
  font-family: 'Press Start 2P';
  margin: 0;
  padding: 0;
  background-color: #1b1b32;
  color: #f5f5f5;
  overflow-y: scroll;
}

body.modal-open .vault-list-container {
  filter: blur(5px);
  transition: filter 0.3s ease;
}
/* Custom scrollbar styles */
body::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: white; /* Background color of the scrollbar track */
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #00ff7f; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
  border: 2px solid #0b0b19; /* Border color and width of the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #00e673; /* Color of the scrollbar thumb when hovered */
}

.App-header {
  background-color: #0b0b19;
  padding: 20px;
  color: #00ff7f;
  /* width: 100%; */
  text-align: center;
  /* box-sizing: border-box; */
}

.App-header button {
  background-color: #2b2b4f;
  /* color: white; */
  border: none;
  padding: 10px 20px;
  margin: 0 15px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.App-header nav a {
  color: #00ff7f;
  margin: 0 15px;
  text-decoration: none;
}

.App-header nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background-color: #0b0b19;
  color: #00ff7f;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer nav a {
  color: #00ff7f;
  margin: 0 10px;
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}